# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL="https://vlgfqcshebklietfpmyq.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_TrD-ZUCx9bXR-QkU1tF8Ig_vGXO0pY4"

# Optional AI API configurations for LLM
EXPO_PUBLIC_AI_API_KEY=
